@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap'); 

body {
    background-color: #111;
    padding: 50px;
    font: 16px/1.5 "Inria Sans", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 400
}

p,
ul {
    margin: 0 0 20px;
}

h1,
h2,
h3 {
    margin: 0 0 20px;
    line-height: 1.1;
}

h1 {
    color: #bbb;
    font-size: 28px;
}

h2 {
    color: #999;
}

h3 {
    color: #888;
}

a {
    /*
    color: #3cc0cc;
    */
    color: #ede6d6;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #cfc8b8;
}

b {
    color: #999;
    font-weight: normal;
}

.wrapper {
    width: 860px;
    margin: 0 auto
}

.art-image {
    border-radius: 0.5em;
    max-width: 200px;
    margin: 0.5em;
    text-align: center;
}

img, video {
    max-width: 100%;
}

.profile-image {
    max-width: 220px;
    border-radius: 100%;
    margin-bottom: 2em;
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
}

hr {
    border:0;
    background: transparent;
    height:1px;
    margin:0 0 20px;
  }

strong {
    color: #222;
    font-weight: 700
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px
}

small {
    font-size: 11px
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print,
screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

    header ul,
    header p.view {
        position: static;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}